
*.venv
venv/
# Ignorar virtualenv
.venv/
venv/
ENV/
env/

# Bytecode Python
__pycache__/
*.py[cod]
*.pyo

# SQLite DB
*.db

# Arquivos temporários
*.log
*.swp
*.tmp
*.bak
.DS_Store
*.sqlite3

# Frontend
node_modules/
dist/
build/

__pycache__/
*.py[cod]
# Python
__pycache__/
*.py[cod]

# SQLite
*.db

# React/Node
node_modules/
dist/
build/

